*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Amiko', sans-serif;

}
body{
  background: #1E1E1E;
  font-family: 'Amiko', sans-serif;
}

.conteiner{
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.header {
  background: linear-gradient(180deg, #0E0E0E 0%, #1E1E1E 100%);
  padding: 15px 0;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_block {
 width: 268px;
 display: flex;
 gap: 15px;
 align-items: center; 
}

.header_menu {
  display: flex;
  gap: 22px;
}
.header_link {
  color: #FFF;

font-family: Amiko;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-family: 'Amiko', sans-serif;
}
.small_btn {
  padding: 12px 11px;
  max-width: 155px;
  min-width: 113px;
color: #3C2C0D;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 10px;
text-align: center;
}
.orange {
border: 1px solid #C48406;
background: #FEC351;
}
.grenn {
border: 1px solid #047955;
background: #07C78D;
}
.banner {
  background: url("../public/banner_background.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 790px;
}
.banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20% 0;
  gap: 54px;
  /* margin-left: 10%; */
}
.big_txt {
  max-width: 945px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.btn_custom {
  display: flex;
  background: #07C78D;
  max-width: 304px;
  border-radius: 20px;
  justify-content: space-between;
  /* gap: 21px; */
}
.btn_txt{
  color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 30px 21px;

}
.green_cus {
}
.arrow_btn {
  background-color: #06AB79;
  padding: 24px 28px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
  gap: 5px;
}
