.text{
    margin: 0 auto;
    max-width: 300px;
    max-height: 200px;
    background-color: antiquewhite;
    margin-top: 300px;
    text-align: center;
    padding-top: 60px;
    padding: 30px 30px;
    word-break: break-all;
    color: white;
    background-color: transparent;
}