@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
}
.block{
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}
.title{
  font-size: 36px;
}